@font-face {
	font-family:"Cotillion Regular";
	src:local('O'), url("../source/fonts/COTILLIO.eot") format("eot"),
	url("../source/fonts/COTILLIO.woff") format("woff"),
    url("../source/fonts/COTILLIO.woff2") format("woff2"),
	url("../source/fonts/COTILLIO.svg") format("svg");
	font-weight:normal;
	font-style:normal;
}