@media screen and (max-width: 768px) {
    #menu-body {
        #bg_image {
            .container {
                .syrups {
                    &__title {
                        font-size: 100px !important;
                        margin: 20px 0 40px;
                    }
                    &__list {
                        padding-bottom: 10px;
                        .syrups-item {
                            margin: 20px 0;
                            &__name {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #menu-body {
        #bg_image {
            .container {
                .syrups {
                    margin-top: 50px;
                    &__title {
                        font-size: 95px !important;
                        margin: 10px 0 30px;
                    }
                    &__list {
                        padding: 10px 0;
                        .syrups-item {
                            margin: 20px 0;
                            &__name {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}